<div class="flex flex-col gap-2 overflow-hidden rounded-md border border-white/10 bg-base-200 p-4">
  <h5 class="flex items-center gap-2">
    {{ repo().name }}
    @if (repo().fork) {
      <!-- <svg title="Forked" lucideBookCopy size="16"></svg> -->
    }
  </h5>
  <span class="text-sm">{{ repo().description }}</span>
  <div class="flex justify-between">
    <span class="flex items-center gap-2 text-sm">
      <!-- <svg lucideClock size="16"></svg> -->
      {{ repo().created_at | date: 'longDate' }}
    </span>
    <span class="flex items-center gap-2 text-sm">
      <!-- <svg lucideClockArrowUp size="16"></svg> -->
      {{ repo().updated_at | date: 'longDate' }}</span
    >
  </div>
  <div class="flex flex-nowrap gap-2">
    <a class="btn w-full shrink rounded-sm btn-primary" target="_blank" [href]="repo().html_url"
      >View on GitHub <img class="size-4" src="/github.svg" alt=""
    /></a>
    @if (repo().has_pages) {
      <a class="btn w-full shrink rounded-sm btn-primary" target="_blank" [href]="repo().homepage"
        >Open Demo
        <!-- <svg lucideGlobe size="16">
          </svg> -->
      </a>
    }
  </div>
  <div class="flex gap-2">
    @for (topic of repo().topics; track topic) {
      @if (topic !== filter()) {
        <img class="aspect-square size-6" [src]="'/' + topic + '.svg'" alt="" />
      }
    }
  </div>
</div>
