main {
  scrollbar-color: initial;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: color-mix(in srgb, currentColor, transparent 66%);
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 4px;
  }
}
